package pages

import "github.com/Michael-Sjogren/gotempl/internal/views/components"
import "github.com/Michael-Sjogren/gotempl/internal/model"

templ UsersPage (users [] model.User) {
	@BaseLayout("Users") {
		@components.UsersList(users)
	}
}


templ LoginPage () {
	@BaseLayout("Login") {
		@components.LoginForm("")
	}
}

templ HomePage() {
	@BaseLayout("Home") {
		<div>
			<h1>My homepage</h1>
		</div>
	}
}
