package pages

import "github.com/Michael-Sjogren/gotempl/internal/views/components"
import "github.com/Michael-Sjogren/gotempl/internal/model"

templ UsersPage (users [] model.User) {
	@BaseLayout("Users") {
		@components.UsersList(users)
	}
}
