package components

import "github.com/Michael-Sjogren/gotempl/internal/mytypes"

templ Navigation(menulinks []mytypes.MenuLink) {
	<nav class="w-full">
		<ul class="flex gap-15 p-5 justify-evenly shadow-sm">
			for _,link := range menulinks {
				<li>
					if link.Active {
						<a class="font-normal text-lg text-sky-400" href={link.Url}>{ link.Name }</a>
					} else {
						<a class="font-normal text-lg text-sky-600" href={link.Url}>{ link.Name }</a>
					}
				</li>
			}
		</ul>
	</nav>
}
