package components
import "github.com/Michael-Sjogren/gotempl/internal/mytypes"

templ UsersList(users [] *mytypes.User ) {
    <ul>
        for _,user := range users {
        <li> {user.Username} </li>
        }
    </ul>
}


