package pages

import "github.com/Michael-Sjogren/gotempl/mytypes"
import "github.com/Michael-Sjogren/gotempl/views/components"

templ UsersPage (users [] *mytypes.User) {
	@BaseLayout("Users") {
		@components.UsersList(users)
	}
}
